<h3 mat-dialog-title>CREAR INSCRIPCION</h3>
<form [formGroup]="inscripcionForm">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Curso
        </mat-panel-title>
        <mat-panel-description>
          Escoja el curso de la inscripción
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Curso</mat-label>
        <mat-select name="curso" [formControl]="selectedCourseControl">
          <mat-option *ngFor="let curso of cursosMateria" [value]="curso">
            Id: {{curso?.id}} - {{curso?.subject?.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Alumnos
        </mat-panel-title>
        <mat-panel-description>
          <span *ngIf="alumnos.length > 0 ; else ifNotAlumnos">Seleccione los alumnos:</span>
          <ng-template #ifNotAlumnos>No existen alumnos para asignar</ng-template>
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>



      <mat-form-field appearance="fill" *ngIf="alumnos.length > 0">
        <mat-label>Alumnos</mat-label>
        <mat-select [formControl]="alumnoControl" multiple>
          <mat-option *ngFor="let alumno of alumnos" [value]="alumno">{{alumno.nombre}}
            {{alumno.apellido}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Anterior</button>
        <button mat-button color="primary" (click)="onSave()">Guardar</button>
      </mat-action-row>
    </mat-expansion-panel>



  </mat-accordion>
</form>