<!-- <p>dashboard works!</p> -->
<!-- side bar -->
<mat-drawer-container class="example-container">
  <mat-drawer [opened]="true" style="width: 50;" #drawer class="example-sidenav" mode="side">
    <img width="50" height="50" src="../../assets/img/avatar.png">
    <p>{{ (authUser$ | async)?.nombre }} {{ (authUser$ | async)?.apellido }}</p>
    <p>{{ (authUser$ | async)?.email }}</p>

    <mat-nav-list>
      <a [routerLink]="link.path" mat-list-item href="..." *ngFor="let link of links"><mat-icon
          *ngIf="link.icon">{{link.icon}}</mat-icon> {{ link.title }}</a>
      <br>
      <br>
      <a mat-list-item (click)="logout()"><mat-icon>logout</mat-icon> Cerrar Sesión</a>
    </mat-nav-list>
  </mat-drawer>
  <!-- wrapper -->
  <div class="example-sidenav-content">
    <!-- tool bar -->
    <mat-toolbar color="primary">

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de Administración de Cursos {{componentName | nombreComponente}}</span>
      <span class="example-spacer"></span>
      <span class="example-icon"> {{ (authUser$ | async)?.nombre }} {{ (authUser$ | async)?.apellido }}</span>
    </mat-toolbar>
    <!-- Mis paginas -->
    <main>
      <!-- <h3 [appFontSize]="20">Ingreso de Alumnos</h3> -->
      <router-outlet></router-outlet>
    </main>
  </div>

</mat-drawer-container>