<!-- <p>dashboard works!</p> -->
<!-- side bar -->
<mat-drawer-container class="example-container">
  <mat-drawer [opened]="true" style="width: 50;" #drawer class="example-sidenav" mode="side">
    <img width="50" height="50" src="../../assets/img/avatar.png">

    <mat-nav-list>
      <a [routerLink]="link.path" mat-list-item href="..." *ngFor="let link of links"><mat-icon
          *ngIf="link.icon">{{link.icon}}</mat-icon>{{ link.title }}</a>
      <a mat-list-item (click)="logout()">Cerrar Sesión</a>
    </mat-nav-list>
  </mat-drawer>
  <!-- wrapper -->
  <div class="example-sidenav-content">
    <!-- tool bar -->
    <mat-toolbar color="primary">

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      {{horaActual$ | async }}
    </mat-toolbar>
    <!-- Mis paginas -->
    <main>
      <!-- <h3 [appFontSize]="20">Ingreso de Alumnos</h3> -->
      <router-outlet></router-outlet>
    </main>
  </div>

</mat-drawer-container>